.gallery {
    margin: auto;
  }
  
  .gallery__cards {
    display: grid;
    max-width: 880px;
    width: 100%;
    grid-template-columns: repeat(auto-fit, minmax(282px, 1fr));
    column-gap: 17px;
    row-gap: 20px;
    margin: auto;
  }
  
  .card {
    display: flex;
    flex-direction: column;
    height: 100%;
    position: relative;
    width: 282px;
    background: rgba(255, 255, 255, 1);
    border-radius: 10px;
    overflow: hidden;
    margin: auto;
    border: 1.5px solid rgba(0, 0, 0, 1);
  }
  
  .card__image {
    max-width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1;
  }
  
  .card__elements {
    max-width: 246px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: auto 15px auto 21px;
  }
  
  .card__text {
    max-width: 244px;
    height: 28px;
    color: rgba(0, 0, 0, 1);
    font-family: "Inter-black";
    font-size: 24px;
    font-weight: 900;
    line-height: 29.05px;
    text-align: left;
    text-decoration: none;
    align-items: center;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    align-content: center;
  }
  
  button {
    background-color: transparent;
    border: none;
    outline: none;
  }
  
  .card__remove-button {
    position: absolute;
    top: 5%;
    left: 88%;
    max-width: 18px;
    height: 19px;
    padding: 10px;
    cursor: pointer;
    background-image: url(../images/Trash.png);
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .favorite-btn {
    max-width: 20px;
    height: 19px;
    font-size: 25px;
    cursor: pointer;
    background-color: transparent;
  }
  
  .card__like-button:hover {
    opacity: 0.5;
  }
  
  .card__like-button {
    width: 21px;
    height: 19px;
    padding: 10px;
    cursor: pointer;
    background-image: url(../images/heart_like.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    align-self: center;
  }
  
  .liked-button {
    background-image: url(../images/Union.png);
  }
  
  @media screen and (max-width: 910px) {
    .gallery {
      width: 95%;
    }
  }