.profile {
  display: flex;
  justify-content: center;
  max-width: 880px;
  margin: auto;
}

.profile__cont {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  width: 120px;
  height: 120px;
  margin: 40px 30px 50px 0;

  &:hover {
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.5);
      z-index: 1;
    }
    .profile__avatar-pencil {
      display: block;
      margin: 40px 30px 50px 30px;
    }
  }
}

.profile__avatar {
  display: flex;
  width: 120px;
  height: 120px;
  border-radius: 50%;
  margin: 50px 0px 50px 0;
}

.profile__avatar-pencil {
  position: absolute;
  z-index: 2;
  display: none;
}

.profile__info {
  padding: 0;
  width: 415px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.profile__name {
  max-width: 430px;
  height: 45px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  display: inline-block;
  font-family: "inter";
  font-size: 42px;
  font-weight: 500;
  line-height: 48px;
  text-align: left;
  color: rgba(255, 255, 255, 1);
  margin: 62px auto 16px 0;
  justify-content: left;
}

.profile__text {
  max-width: 415px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  height: 22px;
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin-top: 0;
}

.profile__details {
  display: flex;
}

.button:hover {
  opacity: 0.6;
}

.button {
  display: flex;
  width: 24px;
  height: 24px;
  border: 1px white solid;
  margin: 77px auto auto 18px;
  background-color: transparent;
  cursor: pointer;
}

.button__image {
  margin: auto;
  width: 10px;
  height: 10px;
}

.add-button:hover {
  opacity: 0.6;
}

.add-button {
  display: flex;
  max-width: 150px;
  width: 100%;
  background-color: transparent;
  border: 2px white solid;
  margin: 75px 0 85px auto;
  cursor: pointer;
}

.add-button__image {
  display: flex;
  align-self: center;
  margin: auto;
  width: 22px;
  height: 22px;
  color: #ffffff;
}

@media screen and (max-width: 910px) {
  .profile {
    margin: auto;
    padding: 27px;
  }
  .profile__avatar-pencil {
    margin-left: 50px;
    margin-top: -75px;
  }
  .profile__avatar {
    margin: auto;
  }

  .add-button {
    max-width: 150px;
    width: 100%;
    height: 50px;
  }
}

@media screen and (max-width: 755px) {
  .profile {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .profile__cont {
    margin: 40px 0 50px 0;
  }

  .profile__info {
    margin: 0 auto 36px auto;
    align-items: flex-start;
  }

  .profile__avatar-pencil {
    margin: 40px 0 30px 0;
  }

  .profile__avatar {
    margin: 42px auto 30px auto;
  }

  .profile__name {
    margin-top: 0;
    height: auto;
    font-size: 2.6rem;
    line-height: 1.6;
    text-align: center;
    margin-bottom: 0;
  }

  .profile__text {
    margin: auto auto 36px auto;
  }

  .profile__details {
    text-align: center;
    margin: auto;
  }

  .button {
    margin-top: 25px;
  }

  .add-button {
    max-width: 445px;
    width: 100%;
    margin: 0 auto 36px auto;
  }
}

@media screen and (max-width: 460px) {
  .profile {
    max-width: 282px;
    width: 100%;
    padding: 0;
  }

  .profile__avatar {
    margin: 42px auto 30px auto;
  }

  .profile__info {
    max-width: 282px;
    width: 100%;
    margin: 0 auto 0 auto;
    align-items: flex-start;
  }

  .profile__details {
    margin: auto;
  }

  .profile__name {
    font-size: 1.4rem;
    line-height: 1.6;
    text-align: center;
  }

  .button {
    max-width: 18px;
    width: 100%;
    max-height: 18px;
    margin: auto auto auto 10px;
  }

  .button__image {
    margin: auto;
    width: 8px;
    height: 6px;
  }
}